    /* Barra de navegación */

header {
    background-color: gainsboro;
}

header img {
    height: 50px;
}

/* Inicio de Sesión */
.logo{
    margin-top: 100PX;
    width: 300px;
}
body {
    background-color: whitesmoke;
}

main {
    max-height: 1368px;
}

form{
    width: 300px;
}

form input {
    margin-top: 5px;
}

/* Footer */

footer {
    margin-top: 120px;
    background-color: gainsboro;
    height: 83px;
}