header{
    background-color:gray;
}
nav{
    background-color: gray;
}
body{
    background-color: silver;
}
main h2{
    border-bottom: solid 2px black;
}
.configuraciones{
    background-color:gray;
}
.logo{
    height: 50px;
}
footer{
    background-color: gray;
    height: 67px;
}