/* Header */
nav{
    background-color: gainsboro;
    justify-items: center;

}

/* body */

body{
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

main {
  height: 560px;
}

main h2{
    border-bottom: solid 2px black;
}
.configuraciones{
    background-color:#f5f5f5;
}
.logo{
    height: 50px;
}

/* Footer */

footer{
    background-color: gainsboro;
    color: white;
    height: 67px;
}



.boton1{
  background-color: #333;
  color: #1133;
  border: none;
  border-radius: 3%;
}

.dark-mode {
    background-color: #333;
    color: white;
  
  }
  
  .dark-mode .navbar {
    background-color: #a9a9a9;
    color: white;
  }
  
  .dark-mode .btn {
    background-color: #595959;
    color: white;
  }

  .mode{
    border: none;
    background: none;
  }
  