nav{
    background-color: gainsboro;
}

.configuraciones{
    background-color:gray;
}
.logo{
    height: 50px;
}

body {
    background-color: whitesmoke;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

main {
    margin-bottom: 70px;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo2 {
    text-align: center;
    font-size: 3em;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h1 {
    color: #000;
}

.logo2 span {
    color: #b70e21;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background-color: rgb(151, 151, 151);
}

.contact-form form {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #000;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background-color: gainsboro;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}

/* Mediaquery */

@media (min-width: 900px) {
    

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 2em;
        text-align: left;
    }
}

footer{
    background-color: gainsboro;
    height: 67px;
}

.dark-mode {
    background-color: #333;
    color: white;
  
  }
  
  .dark-mode .navbar {
    background-color: #a9a9a9;
    color: white;
  }
  
  .dark-mode .btn {
    background-color: #595959;
    color: white;
  }

  .mode{
    border: none;
    background: none;
  }

  .configuraciones{
    background-color:#f5f5f5;
}