nav{
    background-color: gainsboro;
}
body{
    background-color: whitesmoke;
}
.configuraciones{
    background-color:gray;
}
.logo{
    height: 50px;
}
footer{
    background-color: gainsboro;
    height: 67px;
}