<%- include('../partials/header') %>
<title>Register</title>
    <link rel="stylesheet" href="/public/Css/register.css">
  </head>
  <body>
  <header class="d-flex">
      <div class="d-flex align-items-center">
        <img src="/public/img/Mi-proyecto.png" alt="" />
      </div>
      <nav class="container d-flex justify-content-center align-items-center">
        <h4 class="text-black">Registra tu cuenta aquí</h4>
      </nav>
</header>
    <main>
      <form action="" id="formularioCrearCuenta">
      <section class="form-register">
      <h4 class="text-center">Complete el formulario:</h4>
      <input id="nombre" name="nombre" type="text" placeholder="Ingrese su nombre" class="controls" require>
      <input id="apellido" name="apellido" type="text" placeholder="Ingrese su apellido" class="controls" require>
        <input id="email" name="email" type="email" placeholder="Ingrese su email" class="controls" require>
        <input id="password" name="password" type="password" placeholder="Ingrese su contraseña" class="controls" minlength="6" maxlength="12" require>
        <input name="confirm_password" type="password" placeholder="Ingrese nuevamente su contraseña" class="controls" minlength="6" maxlength="12" require>
      
          <div class="d-flex justify-content-center">
          <input type="checkbox" required />
          <p class="m-2">
            Estoy de acuerdo con los <a href="#">terminos y condiciones</a>
          </p>
        </div>
        <div class="text-center">
          <button class="btn btn-outline-dark w-75 py-2" type="submit">
            Registrarme
          </button>
        </div>
        <p class="m-2">
          <a class="" href="/">¿Ya tienes una cuenta?</a>
        </p>      
      </section>
      </form>
    </main>
    <script src="/public/js/guardarcontra.js"></script>
    <%- include('../partials/footer') %>