<%- include('../../partials/header') %>
<link
  rel="stylesheet"
  href="/public/Css/restablecer contrase単a/stylerdc.css"
/>
</head>
<body>
<header class="d-flex">
  <div class="d-flex align-items-center">
    <img src="/public/img/Mi-proyecto.png" alt="" />
  </div>
  <nav class="container d-flex justify-content-center align-items-center">
    <h4 class="text-black">Restablecimiento de contrase単as</h4>
  </nav>
</header>
<main class="d-flex justify-content-center align-items-center">
  <article>
    <section>
      <form action="../incio_De_Sesion.html" class="border border-dark p-3">
        <h1 class="h3 mb-3 fw-normal text-white">
          Ingrese su nueva contrase単a
        </h1>
        <input
          type="password"
          class="form-control"
          id="floatingInput"
          placeholder="**********"
          required
        />
        <h1 class="h3 mb-3 fw-normal text-white">
          Ingrese nuevamente su contrase単a
        </h1>
        <input
          max="12"
          min="6"
          type="password"
          class="form-control"
          id="floatingInput"
          placeholder="**********"
          required
        />
        <div class="p-3">
          <button type="submit">
            <a class="text-decoration-none text-white">Confirmar </a>
          </button>
        </div>
      </form>
    </section>
  </article>
</main>
<%- include('../../partials/footer') %>